* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}


.outer-container {
    border: 3px dashed black;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;
}
.inner-container {
    border: 3px dashed rgb(77, 142, 180);
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
}

.box {
    border: 3px dashed rgb(150, 54, 59);
    width: 150px;
    height: 150px;
    padding: 1rem;
}

.absolute {
    background-color: aquamarine;
    position: absolute;
    top: 0;
    left: 0;
}

.relative {
    background-color:chocolate;
    position: relative;
    top: 50px;
    left: 50px;
}
.fixed {
    background-color: rgb(127, 246, 255);
    position: fixed;
    top: 100px;
    left: 20px;
    z-index: 1;
}

.sticky {
    background-color: rgb(187, 127, 255);
    position: sticky;
    top: 0;
}
