* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}


.outer-container {
    border: 3px dashed black;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;
}
.inner-container {
    border: 3px dashed rgb(77, 142, 180);
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
}

.box {
    border: 3px dashed rgb(150, 54, 59);
    width: 150px;
    height: 150px;
    padding: 1rem;
}

.absolute {
    background-color: aquamarine;
    position: absolute;
    top: 0;
    left: 0;
}

.relative {
    background-color:chocolate;
    position: relative;
    top: 50px;
    left: 50px;
}
.fixed {
    background-color: rgb(127, 246, 255);
    position: fixed;
    top: 500px;
    left: 1000px;
    z-index: 1;
}

.sticky {
    background-color: rgb(187, 127, 255);
    position: sticky;
    top: 0;
}

section{height: 100vh;}
.blue {background-color: aqua;}
.red {background-color: rgb(255, 0, 0);}
.green {background-color:rgb(0, 255, 76);}

main header{
    color: bisque;
    text-align: center;
    font-size: 5rem;
    height: 100px;
}

header {
    background-color: rgb(150, 127, 127);
    position: sticky;
    top: 0;
}

footer {
    background-color: rgb(51, 25, 40);
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
}
footer a, footer a:visited, footer p{
    color: aliceblue;
    text-decoration: none;
}
footer a:hover {
    color: rgb(248, 163, 129);
    text-decoration: underline;
}

.social {
    background-color: aquamarine;
    color: aliceblue;
    font-size: inherit;
    padding: 1rem;
    position:fixed;
    top: 0%;
    right:0;
    z-index: 1;
}

html {
    scroll-behavior:smooth;
}
